In [1]:
import pandas as pd
import gmaps
import requests

#Import the API Key.
from config import g_key

In [2]:
# Store the citiesCSV file to the DataFrane

In [3]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mount Gambier,AU,2022-40-04/08/22 22:40:21,-37.8333,140.7667,58.91,88,100,5.75
1,1,Mataura,NZ,2022-40-04/08/22 22:40:21,-46.1927,168.8643,56.66,60,66,6.42
2,2,Bubaque,GW,2022-40-04/08/22 22:40:22,11.2833,-15.8333,76.64,79,12,14.41
3,3,Ferme-Neuve,CA,2022-40-04/08/22 22:40:22,46.7001,-75.4493,35.56,100,100,3.04
4,4,Le Port,RE,2022-40-04/08/22 22:40:22,-20.9373,55.2919,78.76,70,56,3.56

In [4]:
city_data_df.dtypes # When we ARE CREATING GMAPS THE DATA HAS TO BE INTEGER OR FLOATING-POINT NUMBER.

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

# CREATING A mAXIMUM TEMPERATURE HEAT MAP

In [5]:
# Configure gmaps to use my Goof API Key

gmaps.configure(api_key=g_key)

In [6]:
#Get the maximum temperatures

max_temp = city_data_df["Max Temp"]

temps = []

for temp in max_temp:
    temps.append(max(temp,0))
    
    # We are taking the max numbers between temp and 0, if the number is less then 0, 0 will be added to the list

In [7]:
# Heatmap if Temperature

#Get the latitude and longtitude
locations = city_data_df[["Lat","Lng"]]

#Get the Max Temperature
max_temp = city_data_df["Max Temp"]

##Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)

#Assign the heatmap variable 
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity =300, point_radius=4)

#Add the heatmap Layer
fig.add_layer(heat_layer)

#Call the figure to plor the data

fig

Figure(layout=FigureLayout(height='420px'))

# Creating a percent Humidity Heatmap

In [8]:
# Heatmap of percent Humidity

location = city_data_df[["Lat","Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(location,weights=humidity,dissipating=False, max_intensity = 300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Cloudiness heatmap

In [10]:
location = city_data_df[["Lat","Lng"]]
clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(location, weights=clouds, dissipating=False, max_intensity = 300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
#Windspeed Heat Map

location =city_data_df[["Lat","Lng"]]
wind_speed = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(location, weights=wind_speed, dissipating=False, max_intensity = 300, point_radius= 4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

## Get Vacation Criteria

In [12]:
min_temp = float(input("What is the minimum temperature you would like for your trip"))
max_temp = float(input("What is the maximum temperature you would like for your trip"))

What is the minimum temperature you would like for your trip60
What is the maximum temperature you would like for your trip90

In [13]:
#Filter the dataset to find the cities that fit the criteria

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Bubaque,GW,2022-40-04/08/22 22:40:22,11.2833,-15.8333,76.64,79,12,14.41
4,4,Le Port,RE,2022-40-04/08/22 22:40:22,-20.9373,55.2919,78.76,70,56,3.56
7,7,Umm Lajj,SA,2022-40-04/08/22 22:40:23,25.0213,37.2685,85.95,23,1,8.23
9,9,Cam Ranh,VN,2022-40-04/08/22 22:40:24,11.9214,109.1591,71.56,83,20,2.30
10,10,Bengkulu,ID,2022-40-04/08/22 22:40:25,-3.8004,102.2655,73.69,89,69,3.56
...,...,...,...,...,...,...,...,...,...,...
557,557,Jacareacanga,BR,2022-55-04/08/22 22:55:35,-6.2222,-57.7528,75.54,97,100,1.72
558,558,Poum,NC,2022-55-04/08/22 22:55:35,-20.2333,164.0167,81.36,76,87,8.63
559,559,Madang,PG,2022-55-04/08/22 22:55:36,-5.2246,145.7966,75.97,95,100,2.86
560,560,Munirabad,IN,2022-55-04/08/22 22:55:36,15.3333,76.3333,81.61,52,86,6.31
561,561,Porto Walter,BR,2022-55-04/08/22 22:55:37,-8.2686,-72.7439,75.74,97,99,0.85

In [14]:
#check if are there any null values

preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       5
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [15]:
#2nd check if is there any null values
preferred_cities_df.count()

City_ID       332
City          332
Country       327
Date          332
Lat           332
Lng           332
Max Temp      332
Humidity      332
Cloudiness    332
Wind Speed    332
dtype: int64

# MAP VACATION CRITERIA

In [16]:
#create DataFrame called hotel_df to store hotel names along with city, county, max temp and coordinates

hotel_df = preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

        City Country  Max Temp      Lat       Lng Hotel Name
2    Bubaque      GW     76.64  11.2833  -15.8333
4    Le Port      RE     78.76 -20.9373   55.2919
7   Umm Lajj      SA     85.95  25.0213   37.2685
9   Cam Ranh      VN     71.56  11.9214  109.1591
10  Bengkulu      ID     73.69  -3.8004  102.2655
14     Gweta      BW     68.34 -20.1833   25.2333
18    Gilgit      PK     62.55  35.9221   74.3087
19      Axim      GH     81.72   4.8699   -2.2405
21   Rikitea      PF     79.12 -23.1203 -134.9692
22   Qandala      SO     81.57  11.4720   49.8728

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [19]:
hotel_df.head(10)

        City Country  Max Temp      Lat       Lng                  Hotel Name
2    Bubaque      GW     76.64  11.2833  -15.8333          Casa Dora, Bubaque
4    Le Port      RE     78.76 -20.9373   55.2919           KORBEY D'OR OUEST
7   Umm Lajj      SA     85.95  25.0213   37.2685  Moon light Furnished Units
9   Cam Ranh      VN     71.56  11.9214  109.1591         OYO 598 Peony Hotel
10  Bengkulu      ID     73.69  -3.8004  102.2655        Grage Hotel Bengkulu
14     Gweta      BW     68.34 -20.1833   25.2333                 Gweta Lodge
18    Gilgit      PK     62.55  35.9221   74.3087       Tourist Hamlet Gilgit
19      Axim      GH     81.72   4.8699   -2.2405   Axim Beach Resort And Spa
21   Rikitea      PF     79.12 -23.1203 -134.9692             People ThankYou
22   Qandala      SO     81.57  11.4720   49.8728

## Create a maximum Temperature Heatmap from a Hotel DataFrame

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F </dd>
</d1>
"""

In [21]:
# Store the DataFrame Row. by iteration from hotel_df 

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]



max_temp = hotel_df["Max Temp"]



fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)



heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))